* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.sectionContainer {
  background-color: #fff;
  padding: 50px;
  height: 100vh;
  width: 100%;
  display: flex;
}
.leftPart {
  background-color: #ffc533;
  color: #0f172a;
  padding: 20px;
  width: 50%;
  height: calc(100vh - 100px);
}
.leftPart img {
  width: 100%;
  margin-top: 10%;
  padding: 50px;
}
.leftPart h1 {
  font-family: 'Roboto';
  font-size: 40px;
  place-self: start;
  padding-top: 30px;
  padding-left: 30px;
}

.rightPart {
  background-color: #0f172a;
  color: #ffc533;
  padding: 20px;
  width: 50%;
  height: calc(100vh - 100px);
  text-align: center;
}
.rightPart h1 {
  font-family: 'Roboto';
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 60px;
}
.inputContainer {
  width: 100%;
  padding: 10px;
}
.inputContainer input {
  width: 80%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
}

.inputContainer button {
  width: 120px;
  height: 40px;
  margin-left: 15px;
  background-color: #ffc533;
  color: #0f172a;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}

.listContainer {
  list-style-type: none;
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  margin-top: 10%;
  padding: 30px;
  background-color: #ffbf1f;
}
.listContainer li {
  margin-top: 20px;
}

@media screen and (max-width: 676px) {
  .sectionContainer {
    flex-direction: column;
    height: 100vh;
    padding: 20px;
  }
  .leftPart {
    width: 100%;
  }
  .leftPart h1 {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
  }
  .leftPart img {
    padding: 10px;
  }
  .rightPart {
    width: 100%;
  }
  .rightPart h1 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .inputContainer input {
    width: 100%;
    padding-bottom: 10px;
  }
  .inputContainer button {
    margin-top: 20px;
  }
  .listContainer {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
  }
  .listContainer li {
    margin-top: 5px;
  }
}
